
//数字
$num1: 1;
$num2: 2;
$num3: 3;

$width750: 750px;
$width710:710px;
$width680:680px;
$width550: 550px;
$width450: 450px;
$width350: 350px;
$width345: 345px;
$width340: 340px;
$width335: 335px;
$width330: 330px;
$width328: 328px;
$width325: 325px;
$width200: 200px;

$px4:4px;
$px5:5px;
$px10:10px;
$px11:11px;
$px12:12px;
$px14:14px;
$px15:15px;
$px16:16px;
$px17:17px;
$px18:18px;
$px20:20px;
$px22:22px;
$px24:24px;
$px25:25px;
$px27:27px;
$px30:30px;
$px32:32px;
$px35:35px;
$px36:36px;
$px37:37px;
$px40:40px;
$px44:44px;
$px45:45px;
$px50:50px;
$px53:53px;
$px55:55px;
$px60:60px;
$px70:70px;
$px72: 72px;
$px80:80px;
$px88:88px;
$px90:90px;
$px98:98px;
$px99:99px;
$px100:100px;
$px107:107px;
$px110:110px;
$px120:120px;
$px125:125px;
$px130:130px;
$px140:140px;
$px150:150px;
$px160:160px;
$px170:170px;
$px180:180px;
$px200:200px;
$px220:220px;
$px230:230px;
$px320:320px;
$px280:280px;
$px650:650px;
$px540:540px;
//颜色
$block:#0C0A26;
$block-1:#404040;
$block-2:#161616;
$error:#E75E69;
$error-1:#E4535C;
$error-2:#FFF2F3;
$yello:#FF6000;
$yello-1:#FF3000;
$info:#999999;
$info-1:#888888;
$info-2:#E6E6E6;
$info-3:#949494;
$info-4:#F4F4F6;
$bule:#0090FF;
$blue-1:#00D8FF;
$withe: #fff;
$withe-1:#FFFEFE;
$font-soclor:#333333;
$border-color: #DADADA;
$header-border-color:$info-2;
$pick:#F395CB;

$bg-table:#0C0A26;

// 高度
$height20:$px20;
$height40:$px40;
$height60:$px60;
$height70:$px70;
$height80:$px80;
$height88:$px88;
$height100:$px100;
$height107:$px107;

$btn-border-color:solid 1px $block;
$input-border: 1px solid $border-color;
$h-border: 1px solid $header-border-color;
//按钮
$btn-wdith:$width550;
$btn-height: $height80;
$btn-background: $block;
$btn-radius:10px;

$radius4: 4px;

//文字
$text-center:center;

$font12:$px12;
$font14:$px14;
$font16:$px16;
$font20:$px20;
$font30:$px30;

$padding-tb:$px11;
$padding-rl:$px27;
$padding53px:$px53;

