a:hover {
  color: #333;
}
.ant-tabs,
a {
  color: #252525;
}
body {
  font-size: 14px;
  color: #252525;
}
main {
  background: #f5f5f5;
  padding: 20px 0 30px;
}
@media (min-width: 1200px) {
  .user_container {
    width: 1100px !important;
    margin: auto;
  }
}
@media (min-width: 1400px) {
  .user_container {
    width: 1200px !important;
    margin: auto;
  }
}
@media (min-width: 1600px) {
  .user_container {
    width: 1400px !important;
    margin: auto;
  }
}
.none {
  display: none;
}
.ant-modal-title {
  font-weight: 700;
}
em {
  font-style: normal;
  cursor: pointer;
}
hr {
  border: none;
  height: 30px;
}
input {
  border: none;
  outline: none;
}
a {
  color: #333;
  font-size: 14px;
}
li,
a,
img {
  cursor: pointer;
}
.ant-rate-star {
  margin-right: 0;
}
.ant-rate-star-full:before {
  color: #252525;
}
.ant-pagination .ant-pagination-item-active {
  background: #252525;
  color: #fff;
  font-size: 14px;
  border: 1px solid #252525;
}
@keyframes hx-upbit {
  from {
    transform: translate3d(0, 30px, 0);
    opacity: 0.3;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.hx-anim-upbit {
  animation-name: hx-upbit;
}
.hx-anim {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}
.tit {
  font-size: 18px;
  display: block;
}
i {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  font-size: 12px;
  padding: 3px;
  cursor: pointer;
}
.rotate_180 {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.rotate_90 {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
/*hx_form*/
.hx_form_ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}
.hx_form_ul::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0);
}
.hx_form_ul::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #0b0416;
}
.hx_radio,
.hx_check {
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  margin-right: 5px;
  background-color: #f5f5f5;
  border: solid 1px #cbcbcb;
  cursor: pointer;
}
.hx_radio,
.hx_radio::before {
  border-radius: 50%;
}
.hx_radio::before,
.hx_check::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background: #cbcbcb;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  z-index: 10;
}
.radio::before {
  background: #333;
}
.radio .ant-radio-checked .ant-radio-inner {
  border-color: #252525;
}
.radio .ant-radio-inner:after {
  background-color: #252525;
}
.hx_flex_item-control .ant-form-item-control,
.flex1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex3 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.flex4 {
  display: flex;
  justify-content: space-between;
}
.flex5 {
  display: flex;
  align-items: flex-start;
}
.flex6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.text_center {
  text-align: center;
}
.text_left {
  text-align: left !important;
}
.text_bold {
  font-weight: bold;
  color: #252525;
}
.img_to {
  width: 100%;
  max-height: 100%;
}
/*一行*/
.txt_pass {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  font-size: 18px;
  padding-top: 5px;
}
/*两行*/
.txt_pass_ {
  padding-top: 5px;
  display: block;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.bg_white {
  background: #fff;
}
.price_ {
  display: flex;
  justify-content: center;
  align-items: center;
}
.price_ span {
  font-size: 18px;
  margin: 0 10px;
  display: block;
}
.price_ span:nth-child(2) {
  text-decoration: line-through;
  color: #bfbfbf;
}
.icon_box {
  position: absolute;
  width: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
}
form .has-feedback .ant-input {
  padding-right: 30px;
}
.item_to,
.hx_discount .hx_discount_up .discount_up {
  width: 100% !important;
  margin: auto;
}
.inform_form .ant-form-item,
.item {
  width: calc(50% - 10px);
  margin: auto;
}
.item_th {
  width: calc(33% - 5px) !important;
  margin: auto;
}
.item_fo {
  width: calc(40% - 10px) !important;
  margin: auto;
}
.item_six {
  width: calc(70% - 10px) !important;
  margin: auto;
}
.item_se {
  width: calc(75% - 10px) !important;
  margin: auto;
}
.item_ne {
  width: calc(90% - 10px);
  margin: auto;
}
.Personal_Center .item {
  border-bottom: 1px solid #efefef;
  background: #fff;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  padding: 30px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.Personal_Center .item .tit {
  border-bottom: 1px solid #efefef;
}
.Personal_Center .item span {
  font-size: 14px;
  color: #bfbfbf;
  display: block;
  padding: 3px 0;
}
.Personal_Center .tips-box a {
  margin-right: 40px;
}
.Personal_Center .item::after {
  position: absolute;
  content: '';
  right: -20px;
  top: -20px;
  width: 180px;
  height: 166px;
  background-repeat: no-repeat;
  z-index: -1;
}
.Personal_Center .item:first-child::after {
  background-position-x: right;
  background-size: auto;
}
.Personal_Center .item:nth-child(2)::after {
  background-position-x: right;
  background-size: auto;
}
.Personal_Center .item:nth-child(3)::after {
  background-position-x: right;
  background-size: auto;
}
.Personal_Center .item:nth-child(4)::after {
  background-position-x: contain;
  background-size: auto;
}
.Personal_Center .item:nth-child(5)::after {
  background-position-x: right;
  background-size: auto;
}
.Personal_Center .item:nth-child(6)::after {
  background-position-x: right;
  background-size: auto;
}
.Personal_Center .item:nth-child(7)::after {
  background-position-x: right;
  background-size: auto;
}
.Personal_Center .item:nth-child(8)::after {
  background-position-x: right;
  background-size: auto;
}
.Personal_Center .item:nth-child(9)::after {
  background-position-x: right;
  background-size: auto;
}
.user_nav {
  padding: 30px;
  width: calc(20% - 5px);
}
.user_nav a {
  font-size: 14px;
  display: block;
  margin-bottom: 15px;
  white-space: nowrap;
}
.user_nav .active {
  position: relative;
}
.user_nav .active::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: -10px;
  height: 12px;
  width: 2px;
  margin-top: -6px;
  background-color: #000000;
}
.nav_right {
  width: calc(80% - 10px);
  padding: 30px;
}
.nav_right .ant-form-item-label {
  text-align: unset;
}
.hx_btn,
.ant-btn-primary,
.ant-btn-ghost,
.hx_input {
  width: 100%;
  outline: 0;
  -webkit-appearance: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  box-sizing: border-box;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
}
.hx_btn {
  text-align: center;
  border-radius: 5px;
  background-color: #eee;
  border: 1px solid #ddd;
  display: block;
}
.has-error.has-feedback:after,
.has-success.has-feedback:after {
  height: 50px;
  line-height: 50px;
}
.ant-form-item-required::after {
  display: none;
}
.ant-form-item-required:before {
  position: absolute;
  right: 0;
  top: 0;
  color: #34d0c8;
}
.ant-form-item-label label {
  padding-right: 10px;
}
.has-error.has-feedback:after {
  content: '\E633';
}
.has-success.has-feedback:after {
  content: '\E632';
}
.ar_title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  color: #252525;
}
.ar_title span {
  font-weight: 400;
  font-size: 12px;
  text-transform: none;
  display: block;
}
.ant-btn-primary {
  background: #252525;
  border-color: #252525;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.16);
  white-space: nowrap;
}
.ant-btn-ghost {
  border-color: #252525;
  color: #252525;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.16);
  white-space: nowrap;
  background: #fff;
}
.ant-btn:focus,
.ant-btn:hover,
.ant-btn-primary:hover {
  background: #252525;
  opacity: 0.8;
}
.ant-btn-ghost:hover {
  border-color: #252525;
  opacity: 0.9;
  background: #fff;
}
.ant-btn-ghost:focus,
.ant-btn-ghost:hover {
  background: #fff;
  color: #252525;
  border-color: #252525;
}
form .ant-form-item-control {
  position: relative;
}
form .ant-form-explain {
  position: absolute;
}
form .ant-form-item {
  padding-bottom: 25px;
  margin-bottom: 0;
}
.hx_form_select {
  position: relative;
  width: 100%;
}
.header_suo a {
  font-size: 20px;
  line-height: 25px;
  color: #54c31d;
  font-family: 宋体;
  font-weight: bold;
  text-align: center;
  padding-left: 8px;
}
.header_totall a {
  padding-left: 10px;
}
.header_totall a i {
  font-size: 18px;
}
.hx_form_ul {
  border: 1px solid #ddd;
  position: absolute;
  z-index: 10;
  width: 100%;
  background: #fff;
  top: 53px;
  border-radius: 4px;
  max-height: 160px;
  overflow-y: auto;
}
.hx_form_ul li {
  padding: 0 10px;
  border-bottom: 1px solid #efefef;
  line-height: 36px;
}
.hx_form_select li:hover {
  background: #f4f4f4;
}
.address_item {
  border: 1px solid #252525;
  border-radius: 5px;
  padding: 30px;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
  z-index: 5;
}
.address_item .address_to {
  width: 80%;
}
.address_item .address_operation {
  width: 20%;
}
.address_item .address_to > div:first-child {
  width: 35%;
  padding-right: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.address_item .address_to > div:nth-child(2) {
  width: 45%;
  padding-right: 10px;
}
.address_item .address_to > span:nth-child(3) {
  width: 20%;
  padding-right: 10px;
}
.add_default {
  position: relative;
  border: 1px solid #61b3af;
  order: -1;
}
.add_default .hx_radio::before {
  background: #333;
}
.address_item .anticon-check-circle {
  position: absolute;
  right: -8px;
  top: -8px;
  color: #61b3af;
  font-size: 20px;
  z-index: 10;
  background: #fff;
  display: none;
}
.add_default .anticon-check-circle {
  display: block;
}
.hx_discount {
  max-width: 330px;
  width: 31%;
  margin-right: 20px;
}
.hx_discount .hx_discount_st {
  background-size: 100% 100%;
  width: 100%;
  height: 330px;
  background: url('../assets/img/used.png');
  background-repeat: round;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hx_discount .hx_discount_nd {
  background-size: 100% 100%;
  width: 100%;
  height: 330px;
  background: url('../assets/img/expired.png');
  background-repeat: round;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hx_discount .hx_discount_up .discount_up p {
  letter-spacing: 8px;
  font-size: 100px;
  position: relative;
  text-align: center;
  color: #252525;
  width: max-content;
  margin: auto;
}
.hx_discount_st p::after {
  position: absolute;
  content: '%';
  font-size: 50px;
  letter-spacing: 3px;
  bottom: 20px;
  color: #252525;
}
.hx_discount_nd p::before {
  position: absolute;
  content: '$';
  font-size: 50px;
  letter-spacing: 3px;
  color: #252525;
  left: -35px;
}
.hx_discount .hx_discount_up .discount_up span {
  background: url('../assets/img/unused.png');
  width: 85%;
  height: 37px;
  background-repeat: round;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  letter-spacing: 1px;
  font-size: 16px;
  margin: auto;
}
.hx_discount .hx_discount_up .discount_up em {
  font-size: 12px;
  position: relative;
  line-height: 18px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #252525;
  letter-spacing: 1px;
}
.hx_discount .hx_discount_up .discount_up em::after {
  position: absolute;
  content: '>>';
  transform: rotate(90deg);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 5px;
  bottom: -10px;
}
.hx_discount .hx_discount_down {
  background: #f0f2f6;
  padding-top: 20px;
}
.hx_discount .hx_discount_down .discount_down_button {
  width: 90%;
  background: #f0f2f6;
  margin: auto;
  border-radius: 22px;
  border: solid 1px #252525;
  height: 44px;
  position: relative;
}
.hx_discount .hx_discount_down .discount_down_button p {
  height: 44px;
  line-height: 44px;
  padding-left: 40px;
}
.hx_discount .hx_discount_down .discount_down_button button {
  position: absolute;
  right: 0;
  border: none;
  outline: none;
  border: solid 1px #252525;
  border-radius: 22px;
  font-size: 12px;
  height: 42px;
  line-height: 42px;
  top: 0;
  width: 55px;
  cursor: pointer;
}
.hx_discount .hx_discount_down em {
  display: block;
  text-align: center;
  letter-spacing: 0px;
  color: #bec2c9;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 25px;
}
.hx_discount .hx_discount_down span {
  height: 25px;
  background: #d3d6dc;
  display: block;
  text-align: center;
  line-height: 25px;
  letter-spacing: 5px;
  color: #f0f2f6;
  position: relative;
}
.hx_discount .hx_discount_down span::before,
.hx_discount .hx_discount_down span::after {
  position: absolute;
  content: '';
  width: 40%;
  height: 1px;
  background: #fff;
  bottom: 0;
  top: 0;
  margin: auto;
}
.hx_discount .hx_discount_down span::before {
  left: 0;
}
.hx_discount .hx_discount_down span::after {
  right: 0;
}
.message_main {
  background: #f6f6f6;
  padding: 15px;
  margin-top: 20px;
  height: 130px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}
.message_main:hover {
  background: #fff;
  box-shadow: 0px 0px 10px 0px #dae8f6;
}
.message_main div {
  font-size: 14px;
  color: #bfbfbf;
  line-height: 30px;
}
.message_main b {
  color: #252525;
}
.message_main em {
  display: block;
  line-height: 25px;
  font-size: 13px;
}
.message_main span {
  font-size: 13px;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.msg_post {
  position: relative;
}
.msg_close {
  background: #cacaca;
  color: #fff;
  font-size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 30px;
  right: 30px;
}
.msg_detail {
  border: 1px solid #e9f2fb;
  height: 85%;
  overflow: hidden;
  overflow-y: auto;
}
.msg_detail .msg_detail_down {
  padding: 15px;
}
.msg_detail .msg_detail_up {
  background: #e9f2fb;
  padding: 15px;
}
.msg_detail .msg_detail_up div b {
  font-size: 14px;
  color: #bfbfbf;
  line-height: 30px;
}
.msg_detail .msg_detail_up div b {
  color: #252525;
}
.msg_detail .msg_detail_up div em {
  display: block;
  line-height: 25px;
  font-size: 13px;
}
.reviews_tab,
.order_tab {
  width: 100%;
  text-align: left;
}
.reviews_tab th,
.order_tab th {
  background-color: #f4f4f4;
  color: #252525;
  padding: 14px;
  font-weight: normal;
  vertical-align: top;
}
.reviews_tab td,
.order_tab td {
  border: 1px solid #f4f4f4;
  padding: 15px;
  font-size: 12px;
  color: #252525;
  vertical-align: top;
  display: table-cell;
  word-wrap: break-word;
  word-break: break-all;
}
.order_tab td a {
  font-size: 12px;
  display: block;
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-all;
  width: max-content;
}
.word_special {
  color: #c0ad8d;
}
.order_tab .word_special_ a {
  border-bottom: 1px solid;
  text-transform: uppercase;
}
.order_tab .word_special_ a:hover {
  color: #c0ad8d;
}
.personal_center .personal_part {
  border-top: 1px solid #dadada;
  padding: 20px 0;
}
.personal_center .personal_part .radio {
  margin-left: 60px;
}
.personal_center .personal_part_title {
  color: #c0ad8d;
  font-size: 14px;
  padding-bottom: 10px;
}
.personal_center .personal_part > .flex1 > a {
  width: 20%;
}
.personal_center .personal_part .personal_part_info {
  width: 37%;
}
.personal_center .personal_part img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.personal_center .personal_part .personal_part_info > div {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border: solid 1px #e6e6e6;
}
.personal_center .personal_part .personal_part_info > div span {
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: solid 1px #e6e6e6;
  padding: 0 5px;
  text-align: right;
  min-width: 30%;
  white-space: nowrap;
}
.personal_center .personal_part .personal_part_info > div p {
  max-width: 70%;
  padding-left: 5px;
}
/* modal */
.ant-modal_title .ant-modal-header {
  display: none;
}
.ant-modal-footer {
  display: flex;
  justify-content: center;
  border-top: 0px;
}
.ant-modal-footer button {
  width: 140px;
  height: 40px;
  line-height: 40px;
}
.ant-modal-content .ant-modal-close-x {
  width: 30px;
  height: 30px;
  border: 3px solid #fff;
  font-size: 16px;
  color: #fff;
  background: #999;
  border-radius: 100%;
}
.ant-modal-content .ant-modal-close-x:hover {
  background: #108ee9;
}
.ant-modal-content .ant-modal-close {
  top: -12px;
  right: -12px;
}
.ant-modal-content .ant-modal-close-x:before {
  height: 30px;
  line-height: 27px;
}
.personal_center .personal_part .personal_part_address {
  padding: 10px;
  background: #f5f5f5;
  width: 50%;
}
.personal_center .personal_part .personal_part_address > .flex5 {
  width: 100%;
  line-height: 25px;
}
.personal_center .personal_part .personal_part_address > .flex5 span {
  text-align: right;
  width: 20%;
  line-height: 25px;
  margin-right: 5px;
  color: #252525;
}
.personal_center .personal_part .personal_part_address > .flex5 p {
  width: 80%;
}
.order_tab .ant-tabs-nav .ant-tabs-tab {
  margin-right: 0;
  padding: 8px 15px;
}
.reviews_tab img,
.order_tab img {
  width: 65px;
  display: block;
}
.order_info {
  padding: 20px;
  background: #eee;
}
.order_info .order_info_title {
  font-weight: bold;
  border-left: 3px solid #252525;
  font-size: 14px;
  padding-left: 3px;
  line-height: 14px;
  margin-bottom: 10px;
}
.order_info .flex4 > div {
  width: 50%;
}
.order_info div > p {
  line-height: 21px;
  font-size: 13px;
  justify-content: flex-end;
}
.order_info div > p em {
  width: 60px;
  text-align: left;
}
.order_info .flex4 .order_info_right {
  text-align: right;
}
.order_info .order_info_total {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}
.order_btn a {
  width: 300px;
  margin: 0 20px;
}
.btn_black,
.btn_white {
  width: 49%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #252525;
  background: #252525;
  color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.16);
  transition: all 0.3s;
}
.btn_white {
  background: #fff;
  color: #252525;
  width: 45%;
}
.btn_black:hover {
  color: #fff;
}
.order_btn a:hover,
.btn_black:hover,
.btn_white:hover {
  opacity: 0.8;
}
.order_after_product {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.order_after_product img {
  width: 23%;
}
.order_after_product div {
  width: 70%;
  text-align: right;
}
.order_after_product .txt_pass {
  font-size: 14px;
}
.order_after .order_after_title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: solid 1px #f1f1f1;
  color: #252525;
}
.order_after_left {
  width: 75%;
}
.order_after_right {
  width: 32%;
  margin-left: 20px;
}
.order_after_right .order_after_detail_up {
  border: 1px solid #f1f1f1;
}
.order_after_right .order_after_detail_up .order_after_detail_up_title {
  font-size: 15px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  border-bottom: 1px solid #f1f1f1;
}
.order_after_right .order_after_detail_up .flex1,
.order_after_right .order_after_detail_down .flex1 {
  line-height: 23px;
  font-size: 14px;
}
.order_after_right .order_after_detail_up .order_after_detail_up_div,
.order_after_right .order_after_detail_down {
  padding: 10px;
}
.order_after_right .order_after_detail_up .order_after_detail_up_pay {
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}
.order_after_right .order_after_detail_down {
  background: #eee;
}
.order_tab .ant-tabs-nav .ant-tabs-tab {
  border-right: 1px solid #efefef;
}
.order_tab .ant-tabs-nav .ant-tabs-tab-active {
  color: #c0ad8d;
  border-bottom: 3px solid #c0ad8d;
}
.order_tab .ant-tabs-ink-bar {
  background-color: #c0ad8d;
  display: none;
}
.order_tab .ant-tabs-tab:hover {
  color: #c0ad8d;
}
.item_goods {
  position: relative;
  margin: 0px 15px 15px 0px;
}
.item_goods .item_goods_img {
  position: relative;
  font-size: 0;
  overflow: hidden;
  width: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item_goods .shop-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  color: #6e6e6e;
  font-weight: 700;
}
.item_goods .item_goods_rate .ant-rate {
  display: block;
  text-align: center;
  margin: 5px 0;
}
.pagination_ .ant-pagination {
  text-align: center;
}
.order_action_msg {
  font-size: 17px;
}
.order_action_tips {
  font-size: 15px;
  padding-top: 5px;
  display: block;
}
.refund_dhl {
  padding: 20px;
  border: solid 1px #cacaca;
}
.refund_dhl > div > .flex1 > span {
  width: 180px;
  padding-right: 10px;
}
.formmsg_detail .formmsg_detail_up {
  background-color: #f1f1f1;
  padding: 20px;
}
.formmsg_detail .formmsg_detail_up .flex1 {
  padding-bottom: 5px;
}
.formmsg_detail .formmsg_detail_down {
  padding: 10px 20px;
}
.reviews_main {
  margin-bottom: 10px;
}
.reviews_main .reviews_main_title {
  background: #f5f5f5;
  padding: 10px;
  color: #252525;
}
.reviews_main .reviews_tab_st img {
  margin-right: 10px;
}
.reviews_main .reviews_tab_st a {
  margin-bottom: 5px;
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
  display: block;
}
.reviews_main .reviews_tab_st span {
  display: block;
  color: #8e8e8e;
}
.reviews_tab .btn_white {
  width: auto;
  display: flex;
}
.reviews_tab td {
  width: 15%;
}
.reviews_tab td:first-child {
  width: 40%;
}
.reviews_tab span {
  display: block;
  line-height: 20px;
}
.reviews_tab .word_special {
  padding-top: 5px;
}
.reviews_tab .btn_white {
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
  border: solid 1px #dbdbdb;
  height: 40px;
  width: 80%;
  margin: auto;
}
.reviews_tab_st {
  width: 100%;
}
.reply_main {
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 10px;
}
.reply_main .reply_main_head {
  display: flex;
}
.reply_main .reply_main_head img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}
.reply_main > * {
  padding-bottom: 10px;
}
.reply_main > .flex5 {
  background: #f4f4f4;
  padding-bottom: 0;
}
.reply_main > .flex5 a {
  padding-top: 10px;
}
.reply_main .ant-rate-star {
  font-size: 18px;
}
.reply_main img {
  margin-right: 8px;
}
.reply_main a {
  display: block;
}
.reply_main .price_ {
  margin-top: 10px;
}
.reply_main .price_ span {
  font-size: 15px;
}
.reply_main .flex5 > img {
  width: 60px;
}
.reply_main .flex3 > img {
  width: 100px;
}
.reply_main .reply_main_reply {
  background: #eee;
  border-radius: 4px;
  margin: 10px 0;
  position: relative;
  padding: 20px;
}
.reply_main .reply_main_reply::before {
  position: absolute;
  content: '';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #eee;
  top: -10px;
  left: 5%;
}
.reviews_detail {
  border: solid 1px #f5f5f5;
}
.reviews_detail > .btn_black {
  width: 120px;
  height: 40px;
  margin: 20px 20px 20px auto;
}
.reviews_detail > .flex1 {
  border-bottom: solid 1px #f5f5f5;
  padding: 15px;
  color: #8e8e8e;
  font-size: 13px;
}
.reviews_detail > .flex1 .btn_white {
  width: 100px;
  height: 35px;
  font-size: 12px;
}
.reviews_detail_item {
  margin: 20px 20px 30px;
}
.reviews_detail_item > .reviews_detail_item_up {
  border: solid 1px #f5f5f5;
  padding: 20px;
  margin-top: 20px;
}
.reviews_detail_item > .reviews_detail_item_down {
  border: solid 1px #f5f5f5;
  padding: 20px;
  margin-top: 5px;
}
.reviews_detail_item_up img {
  width: 90px;
  margin-right: 20px;
}
.reviews_detail_item_up .reviews_detail_item_st {
  width: 50%;
}
.reviews_detail_item_up .reviews_detail_item_st a {
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
}
.reviews_detail_item_up .reviews_detail_item_st span {
  display: block;
  color: #8e8e8e;
  font-size: 13px;
}
.reviews_detail_item_up .reviews_detail_item_nd {
  margin-left: 40px;
}
.reviews_detail_item_up .reviews_detail_item_nd span {
  display: block;
  line-height: 25px;
}
.reviews_detail_item_down .reviews_detail_item_st {
  width: 20%;
}
.reviews_detail_item_down .reviews_detail_item_st span {
  display: block;
}
.reviews_detail_item_down .reviews_detail_item_st span:nth-child(2) {
  font-size: 46px;
}
.reviews_detail_item_down .reviews_detail_item_nd {
  width: 80%;
}
.reviews_detail_item_down .reviews_detail_item_nd span {
  display: block;
  font-size: 22px;
  color: #bfbfbf;
  line-height: 90px;
  border-right: 1px solid #f6f6f6;
  width: 100%;
  padding-left: 4%;
  height: 100%;
}
.reviews_detail_item_down .reviews_detail_item_nd span:last-child {
  border-right: none;
}
.reviews_detail_item_last {
  padding: 20px 30px;
  background-color: #f5f5f5;
}
.reviews_detail_item_last > .flex1 > a {
  color: #ed6c6c;
  border-bottom: 1px solid #ed6c6c;
}
.reviews_detail_item_last > div {
  margin: 10px 0;
  font-size: 13px;
}
.reviews_detail_item_last .reviews_detail_item_last_ {
  display: flex;
  width: 100%;
}
.reviews_detail_item_last .reviews_detail_item_last_ > p {
  width: 25%;
  text-align: right;
  padding-right: 10px;
}
.select_item,
.select_item .ant-select-selection--single {
  height: 50px;
}
.select_item .ant-select-selection__rendered {
  line-height: 50px;
}
.select_item .ant-select-selection-selected-value {
  display: flex;
  align-items: center;
}
.ant-modal {
  top: 40%;
  margin: auto;
}
.ant-modal-body {
  padding: 20px 20px 10px;
  font-size: 15px;
}
.apply_after .flex1 {
  width: 100%;
  padding: 30px;
  border: solid 1px #f1f1f1;
}
.apply_after .flex1 > a {
  width: 32%;
}
.apply_after .flex1 > a > img {
  width: 100%;
}
.ant-notification {
  left: 0;
  right: 0;
  margin: auto;
  top: 30% !important;
  width: max-content;
}
.ant-notification-notice-close {
  right: 5px;
  top: 5px;
}
.ant-notification-notice {
  padding: 20px 25px;
}
.ant-notification .ant-notification-notice-description {
  font-size: 15px;
  color: #252525;
}
.ant-notification .ant-notification-notice-message {
  border-bottom: 1px solid #eee;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 5px;
  display: none;
}
/*购物车心愿清单*/
.form_none span {
  font-size: 16px;
}
.form_none a {
  margin: auto;
}
.pad_left {
  padding-left: 20px;
}
.all_btn a {
  font-size: 12px;
  color: #bfbfbf;
}
.bag_left {
  width: 73%;
}
.bag_right {
  width: 25%;
}
.bag_item {
  border: 1px solid #efefef;
  margin-bottom: 10px;
  padding: 10px;
}
.bag_item_img img {
  width: 100px;
  max-height: 140px;
}
.bag_item_st {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bag_item_st a {
  font-size: 13px;
}
.bag_item_st a:last-child {
  border-bottom: 1px solid;
}
.bag_item_st a:last-child:hover {
  color: #c0ad8d;
}
.bag_item .price_ {
  display: block !important;
  width: 10%;
}
.bag_item .price_ span {
  font-size: 15px;
  line-height: 25px;
}
.bag_item_subtotal span {
  font-weight: bold;
  padding-top: 25px;
  display: block;
}
.bag_item .iconLQYguanbi {
  font-weight: bold;
  font-size: 20px;
  color: #252525;
  border: 1px solid transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  border-radius: 50%;
}
.bag_item .iconLQYguanbi:hover {
  border: 1px solid #252525;
}
.undercarriage {
  background: #eee;
}
.undercarriage .bag_item_select {
  pointer-events: none;
}
.bag_right > div {
  margin-bottom: 15px;
}
.bag_right_overview {
  border: 1px solid #eee;
}
.bag_right_overview .title {
  font-weight: bold;
  padding: 20px;
  color: #252525;
  background: #eee;
  font-size: 16px;
}
.bag_right_overview div {
  padding: 20px;
}
.bag_right_overview div p {
  line-height: 27px;
}
.bag_right_overview div p:nth-child(5) {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.bag_right_overview div p:nth-child(6) {
  padding-top: 10px;
}
.bag_right_pay {
  padding: 20px;
  border: 1px solid #eee;
}
.bag_right_pay .btn_black {
  width: 100%;
  position: relative;
}
.bag_right_pay .btn_black i {
  position: absolute;
  right: 20px;
  font-size: 13px;
}
.bag_right_promotion {
  border: 1px solid #eee;
}
.bag_right_promotion .title {
  background: #eeeeee;
  color: #ee7a24;
  padding: 20px;
  font-size: 16px;
  font-weight: 550;
}
.bag_right_promotion > div {
  padding: 10px;
}
.bag_right_promotion .promotion_item {
  background: url(../assets/img/bigger_discount_th.png);
  background-size: 100% 100%;
  background-repeat: round;
  display: flex;
  align-items: center;
  margin: 5px 0px;
  height: 50px;
  position: relative;
  color: #888888;
}
.promotion_item span {
  font-size: 16px;
  width: 32%;
  text-align: center;
}
.promotion_item p {
  font-size: 12px;
  width: 60%;
  text-align: center;
}
.bag_right_promotion .unselected {
  background: url(../assets/img/bigger_discount_nd.png);
  background-size: 100% 100%;
  background-repeat: round;
  cursor: pointer;
}
.bag_right_promotion .unselected p,
.bag_right_promotion .unselected span {
  color: #252525;
}
.bag_right_promotion .pitchon {
  background: url(../assets/img/bigger_discount_st.png);
  background-size: 100% 100%;
  background-repeat: round;
  cursor: pointer;
}
.bag_right_promotion .pitchon p,
.bag_right_promotion .pitchon span {
  color: #252525;
}
.bag_right_coupon {
  background: #eee;
  padding: 20px;
}
.bag_right_coupon .offer_coupon {
  display: flex;
  margin-top: 15px;
}
.offer-code-inpt i,
.bag_right_coupon .offer_coupon i {
  opacity: 0;
  position: absolute;
  right: 35%;
  bottom: 0;
  margin: auto;
  height: 35px;
  margin: 0;
  padding: 0;
}
.offer-code-inpt i {
  right: 42%;
}
.bag_right_coupon .offer_coupon .btn_black {
  height: 35px;
}
.bag_item_select .flex1 {
  margin-bottom: 10px;
}
.bag_item_select .item_select {
  position: relative;
}
.bag_item_select .item_select em {
  border-bottom: 1px solid;
}
.bag_item_select .item_select .ant-select {
  position: absolute;
  right: 100%;
}
.single_item {
  padding: 10px;
  background: #f6f6f6;
  font-size: 13px;
  font-weight: bold;
}
.single_item > a img {
  width: 100px;
  margin-right: 10px;
}
.single_item > div > a {
  display: block;
  padding-bottom: 5px;
}
.single_item > div > p {
  line-height: 20px;
}
.single_item_p {
  font-weight: bold;
  padding-top: 8px;
}
.swiper_show .ant-modal {
  top: 20%;
}
.bag_show > a > img {
  width: 290px;
  margin-right: 10px;
}
.bag_show > .flex6 {
  height: 390px;
}
.bag_show > .flex6 .price_ {
  justify-content: start;
}
.bag_show > .flex6 .price_ span {
  margin: 0 10px 0 0;
}
.bag_show > .flex6 span {
  font-size: 13px;
  color: #959a9e;
}
.bag_data_ul li {
  font-size: 0;
  width: 50px;
  border: 1px solid #efefef;
}
.bag_data_ul li img {
  width: 100%;
}
.flex3.bag_data_ul li {
  font-size: 13px;
  width: max-content;
  border-radius: 3px;
  padding: 3px 10px;
  margin: 0 10px 5px 0;
}
.bag_data_ul li.active {
  border: 1px solid #252525;
  background: #252525;
  color: #fff;
}
.bag_show_footer {
  width: 100%;
}
.bag_show_footer a {
  position: relative;
  border-radius: 5px;
  background: #252525;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #252525;
  height: 50px;
  width: 65%;
  margin: 0 10px;
}
.bag_show_footer a:last-child {
  background: #fff;
  color: #252525;
  width: 50px;
  border-radius: 50%;
}
.ant-modal-footer {
  width: 65%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.login_icon {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 200px;
}
.bag_swiper {
  text-align: center;
  position: relative;
}
.bag_swiper > a > img {
  width: 100%;
}
.bag_swiper > div {
  position: absolute;
  z-index: 10;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  transition: all 0.3s ease;
}
.bag_swiper > div i {
  border: 1px solid #252525;
  border-radius: 50%;
  padding: 10px;
  margin: 0 10px;
  font-size: 18px;
  font-weight: 550;
}
.bag_swiper:hover > div {
  opacity: 1;
}
.bag_swiper i:hover {
  background: #252525;
  color: #fff;
}
.bag_swiper_main {
  text-align: center;
}
.forms_field_tips {
  opacity: 0;
  color: #d07272;
}
.forms_field textarea {
  border: 1px solid #d07272;
}
.forms_field .forms_field_tips {
  opacity: 1;
}
.ant-confirm .ant-modal-body {
  padding: 0;
}
.ant-confirm-body .ant-confirm-title {
  display: block;
  border-bottom: 1px solid #cbcbcb;
  line-height: 40px;
  padding: 0 20px;
}
.ant-confirm-body .ant-confirm-content {
  margin: 0;
  padding: 20px;
  font-size: 15px;
  color: #252525;
}
.ant-modal-body .ant-confirm-btns {
  width: 100%;
  margin: 0 auto 10px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.ant-modal-body .ant-confirm-btns button {
  width: 130px;
  margin: 0 10px;
  height: 40px;
  line-height: 40px;
}
.add_success {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  background: #f6f3f3;
  color: #252525;
  border-radius: 3px;
  width: 90px;
  height: 28px;
  right: 10%;
  top: -25%;
  font-size: 12px;
  line-height: 28px;
}
.coupon_correct /deep/ .ant-form-explain {
  color: #bbb;
}
.coupon_correct /deep/ .has-error .ant-input,
.coupon_correct /deep/ .has-error .ant-input:hover {
  border-color: #bbb;
}
.coupon_error .offer_coupon /deep/ .ant-input {
  position: relative;
}
.coupon_correct .offer_coupon i {
  opacity: 1;
  color: #87d2ac;
}
.coupon_error .offer_coupon i {
  opacity: 1;
  color: #f04134;
}
.offer_coupon .ant-input-lg {
  height: 35px;
}
