.F18 {
  font-size: 18px;
}
.F16 {
  font-size: 16px;
}
.F14 {
  font-size: 14px;
}
.F12 {
  font-size: 12px;
}
hr {
  border: none;
  height: 30px;
}
.bodyColor {
  background: #f4f4f6;
}
a {
  color: #0c0a26;
}
a:hover {
  color: unset;
}
img,
i,
em,
li {
  cursor: pointer;
}
li {
  list-style: none;
}
em {
  font-style: normal;
}
body {
  background: #f4f4f6;
  color: #0c0a26;
}
button {
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  background: #0c0a26;
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s;
}
.button:hover {
  opacity: 0.9;
  box-shadow: 0px 0px 5px 0px rgba(12, 10, 38, 0.5);
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex2 {
  display: flex;
  flex-wrap: wrap;
}
.flex3 {
  display: flex;
  justify-content: center;
}
.flex4 {
  display: flex;
  align-items: center;
}
.full-image {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  overflow: hidden;
}
.full-image img {
  width: 100%;
}
.grid-container {
  display: flex;
  gap: 10px;
  margin: auto;
  width: 1400px;
}
@media (max-width: 1400px) {
  .grid-container {
    width: 1200px;
  }
}
.grid-container > .nav-main {
  padding: 20px;
  background: #fff;
}
.grid-container > .nav-main > nav {
  height: min-content;
  width: 210px;
  display: table;
}
.grid-container > .nav-main > nav a {
  font-size: 16px;
  line-height: 50px;
  display: block;
  color: #999;
  height: 50px;
  border-radius: 4px;
  padding: 0 15px;
  position: relative;
}
.grid-container > .nav-main > nav .active {
  background: #f4f4f6;
  color: #333;
  font-weight: 550;
}
.grid-container > .nav-main > nav .active::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #0c0a26;
  top: 0;
  bottom: 0;
  right: 15px;
  margin: auto;
}
.grid-container > .nav-main > nav .logOut {
  border: 1px solid #DADADA;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 550;
  width: 80%;
  margin: auto;
  text-align: center;
  color: #0c0a26;
}
.grid-container > .nav-right {
  background: #fff;
  padding: 20px 20px 60px;
  position: relative;
}
.container {
  margin: auto;
  width: 1400px;
  background: #fff;
}
@media (max-width: 1400px) {
  .container {
    width: 1200px;
  }
}
.container::before,
.container::after {
  content: none;
}
.white-background {
  background: #fff;
}
.title {
  font-size: 18px;
  border-bottom: 1px solid #dadada;
  text-align: center;
  line-height: 2;
  color: #333;
  margin-bottom: 10px;
}
.title-clamp {
  font-size: 14px;
  color: #333333;
  display: block;
  word-break: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.title-ellipsis {
  font-size: 14px;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.page {
  bottom: 20px;
  right: 20px;
  position: absolute;
}
.page /deep/ .ant-pagination .ant-pagination-item-active {
  background: #0c0a26;
  color: #fff;
  border: 1px solid #0c0a26;
}
.price {
  font-size: 16px;
}
.price span {
  color: #333;
}
.price span:nth-child(2) {
  color: #888;
  text-decoration: line-through;
  margin-left: 10px;
}
.noneData {
  text-align: center;
  margin: 120px auto 50px;
}
.noneData p {
  font-size: 16px;
  color: #0c0a26;
  margin: 10px 0 65px;
}
.noneData a {
  font-size: 12px;
  color: #0c0a26;
  border: 1px solid #dadada;
  border-radius: 4px;
  height: 30px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: #fff;
}
.scroll {
  overflow: hidden;
  overflow-y: auto;
}
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}
.scroll::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0);
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #0b0416;
}
.after-sale-container .order-return-action {
  font-size: 16px;
  font-weight: 550;
  margin: 10px 0 30px;
}
.after-sale-container .after-sale-banner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.after-sale-container .after-sale-banner > div:first-child {
  width: 60%;
  margin-right: 2%;
}
.after-sale-container .after-sale-banner > div:first-child button {
  color: #fff;
  background: #0c0a26;
  width: 80%;
  height: 50px;
  margin: auto;
  font-size: 16px;
  display: flex;
}
.after-sale-container .after-sale-banner > div:first-child .white {
  color: #0c0a26;
  background: #fff;
  width: 80%;
  height: 50px;
  margin: auto;
  font-size: 16px;
  border: 1px solid #0c0a26;
  display: flex;
  align-items: center;
  justify-content: center;
}
.after-sale-container .after-sale-banner > div:first-child .after-detail-success {
  margin: 40px auto;
  text-align: center;
  font-size: 14px;
}
.after-sale-container .after-sale-banner > div:first-child .after-detail-success p {
  font-weight: 550;
}
.after-sale-container .after-sale-banner > div:first-child .after-detail-success span {
  display: block;
  line-height: 2;
}
.after-sale-container .after-sale-banner .after-sale-info {
  width: 38%;
  height: min-content;
}
.after-sale-container .after-sale-banner .after-sale-info .after-sale-info-title {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border: 1px solid #efefef;
  border-bottom: none;
  font-weight: 550;
}
.after-sale-container .after-sale-banner .after-sale-info > div {
  border: 1px solid #efefef;
  padding: 20px;
}
.after-sale-container .after-sale-banner .after-sale-info > div > div {
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 10px;
}
.after-sale-container .after-sale-banner .after-sale-info > div > div img {
  width: 60px;
  margin-right: 10px;
}
.after-sale-container .after-sale-banner .after-sale-info > div > div > div {
  text-align: right;
}
.managers li {
  min-width: 100px;
  height: 30px;
  border: 1px solid #DADADA;
  margin: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  border-radius: 4px;
  background: #fff;
}
.managers li.active {
  background: #000;
  color: #fff;
}
.discount-item {
  margin: 10px auto;
  text-align: center;
}
.discount-item > div {
  background-image: url('../assets/img/discount.png');
  background-position: -17px -160px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  color: #666;
  width: 275px;
  margin: auto;
}
.discount-item > div em {
  margin-left: 5px;
}
.discount-item > div.unselected {
  background-position: -17px -90px;
  color: #555;
}
.discount-item > div.pitchon {
  background-position: -17px -20px;
  color: #fff;
}
.ant-radio-wrapper .ivu-radio-checked .ivu-radio-inner {
  border: 1px solid #0c0a26;
}
.ant-radio-wrapper .ant-radio-checked {
  border-color: #0c0a26;
}
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: #0c0a26;
}
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner:after {
  background: #0c0a26;
  border-color: #0c0a26;
}
.ant-input {
  height: 40px;
}
.ant-form-item-label {
  line-height: 40px;
}
.has-error.has-feedback:after,
.has-success.has-feedback:after,
.has-warning.has-feedback:after,
.is-validating.has-feedback:after {
  height: 40px;
  line-height: 40px;
}
.ant-form-item-required {
  font-weight: 550;
}
.ant-form-item {
  margin-bottom: 15px;
}
.has-error .ant-form-explain,
.has-error .ant-form-split {
  position: absolute;
  font-size: 11px;
}
.ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner {
  background: #0c0a26;
  border: 1px solid #0c0a26;
}
.ant-btn-primary {
  background-color: #0c0a26;
  border-color: #0c0a26;
}
.ant-btn-primary:hover {
  opacity: 0.8;
  background-color: #0c0a26;
}
.ant-form-item-label {
  font-weight: 550;
}
.has-success.has-feedback:after {
  content: '\E632';
}
.has-error.has-feedback:after {
  content: '\E633';
}
.ant-confirm-confirm .ant-modal {
  top: 35%;
}
.ant-confirm-confirm .ant-modal .ant-modal-content .ant-modal-body {
  padding: 20px;
}
.ant-confirm-confirm .ant-modal .ant-modal-content .ant-modal-body .ant-confirm-body-wrapper .ant-confirm-body .ant-confirm-content {
  margin-left: 0;
  font-size: 16px;
  color: #0c0a26;
}
.ant-confirm-confirm .ant-modal .ant-modal-content .ant-modal-body .ant-confirm-body-wrapper .ant-confirm-btns button {
  font-size: 12px;
  font-weight: 400;
  width: 85px;
}
.ant-confirm-confirm .ant-modal .ant-modal-content .ant-modal-body .ant-confirm-body-wrapper .ant-confirm-btns .ant-btn-ghost:hover {
  border-color: #d9d9d9;
  color: #666;
}
.ant-confirm-confirm .ant-modal .ant-modal-content .ant-modal-body .ant-confirm-body-wrapper .ant-confirm-btns .ant-btn-primary:hover {
  border-color: #0c0a26;
}
.ant-select-selection--single {
  height: 40px;
}
.ant-select-selection--single .ant-select-selection__rendered {
  line-height: 40px;
}
.ant-select-selection--single .ant-select-arrow {
  right: 10px !important;
}
.ant-rate .ant-rate-star {
  margin-right: 3px;
}
.ant-rate .ant-rate-star-full:before,
.ant-rate .ant-rate-star-half .ant-rate-star-content:before {
  font-size: 16px;
  color: #0c0a26;
}
.label-icon {
  display: flex;
  align-items: center;
  margin: 10px 5px 0;
}
.label-icon em {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #0c0a26;
  margin-right: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label-icon em.active::before {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  background: #0c0a26;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
}
.ant-notification {
  left: 0;
  right: 0;
  margin: auto;
  top: 30% !important;
  width: max-content;
}
.ant-notification-notice-close {
  right: 5px;
  top: 5px;
}
.ant-notification-notice {
  padding: 20px 25px;
}
.ant-notification .ant-notification-notice-description {
  font-size: 15px;
  color: #252525;
}
.ant-notification .ant-notification-notice-message {
  border-bottom: 1px solid #eee;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 5px;
  display: none;
}
.loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.25);
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.loader .loading {
  display: inline-block;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid #e2e2e2;
  border-bottom-color: transparent;
  -webkit-animation: loading 0.75s linear infinite;
  animation: loading 0.75s linear infinite;
  margin: 6px;
  vertical-align: middle;
  position: relative;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
